.khan__buy-link {
  line-height: 42px;
  font-size: 30px;
  font-weight: normal;
  margin: 0;
  text-decoration: none;
  color: #2f80ed;
}

.khan__buy-link::after {
  color: #2f80ed;
  content: '\2192';
}

.khan__buy-link:hover {
  color: #1f1f1f;
  opacity: 0.3;
  transition: opatity linear;
}